In [1]:
import numpy as np
import pandas as pd
import os

In [30]:
temp = pd.read_csv('datasets_consolidados/servidores-inlettemp.csv') # Load Temperature dataframe

In [3]:
temp.drop(temp.index[temp['Average'] == -128], inplace = True) # Remove moments when server is offline (Average == -128)

In [28]:
temp['Time']= pd.to_datetime(temp['Time'], format="%a %b %d %H:%M:%S %Y") #change date column to type datetime

In [31]:
logs = pd.read_csv('datasets_consolidados/logs_servidores.csv') # Load Servers Logs Dataframe

In [41]:
logs.drop(logs.index[logs['Date'] == 'System Boot'], inplace = True) # Remove moments when server is booting up and do not provide date time.

In [39]:
logs['Date']= pd.to_datetime(logs['Date'], format="%a %b %d %Y %H:%M:%S") #change date column to type datetime

In [42]:
logs # print

,Server,Severity,Date,Description
0,server01,Normal,2013-12-20 20:15:46,Log cleared.
1,server01,Critical,2014-03-31 14:24:53,The power input for power supply 2 is lost.
2,server01,Critical,2014-03-31 14:25:04,Power supply redundancy is lost.
3,server01,Normal,2014-03-31 13:29:08,The input power for power supply 2 has been re...
4,server01,Normal,2014-03-31 13:29:13,The power supplies are redundant.
...,...,...,...,...
6363,server30,Critical,2019-05-21 13:35:57,Power supply redundancy is lost.
6364,server30,Normal,2019-05-21 20:05:01,The input power for power supply 2 has been re...
6365,server30,Normal,2019-05-21 20:05:07,The power supplies are redundant.
6366,server30,Critical,2019-07-28 06:42:53,The power input for power supply 1 is lost.
6367,server30,Critical,2019-07-28 06:42:56,Power supply redundancy is lost.

In [43]:
temp # print

           Server  Average  Peak                      Time
0        server01       21    22  Fri Dec 20 21:10:46 2013
1        server01     -128  -128  Fri Dec 20 22:10:46 2013
2        server01     -128  -128  Fri Dec 20 23:10:46 2013
3        server01     -128  -128  Sat Dec 21 00:10:46 2013
4        server01     -128  -128  Sat Dec 21 01:10:46 2013
...           ...      ...   ...                       ...
1541371  server30       19    20  Thu Jan  2 06:01:57 2020
1541372  server30       19    20  Thu Jan  2 07:01:57 2020
1541373  server30       19    21  Thu Jan  2 08:01:57 2020
1541374  server30       18    21  Thu Jan  2 09:01:57 2020
1541375  server30       19    20  Thu Jan  2 10:01:57 2020

[1541376 rows x 4 columns]

In [44]:
temp.to_csv(r'datasets_consolidados/temperatura.csv', index = False) # export temperate dataset
logs.to_csv(r'datasets_consolidados/logs.csv', index = False)